html, body, .phx-connected, #playArea {
    height: 100%;
}
.deck {
    position: absolute;
}
.deck-size-1 {
}
.deck-size-2 {
    box-shadow: 2px 2px grey;
}
.deck-size-3 {
    box-shadow: 3px 3px grey;
}
.deck-size-4 {
    box-shadow: 4px 4px grey;
}
.card:focus {
    box-shadow: 0px 0px 15px #00d1b2;
    transform-origin: top left;

    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);

    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.face {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
footer {
    position: absolute;
    bottom: 0em;
    width: 100%;
    text-align: center;
}
footer .column {
    min-width: 0;
}
.hand {
    background-color: #00d1b2;
    min-height: 1em;
    height: 100%;
    display: flex;
    overflow-x: scroll;
}
.hand .card {
    flex-shrink: 0;
}
