html, body, .phx-connected, #playArea {
    height: 100%;
}
.deck {
    position: absolute;
    height: 2cm;
    width: 1.5cm;
}
.deck-size-1 {
}
.deck-size-2 {
    box-shadow: 2px 2px grey;
}
.deck-size-3 {
    box-shadow: 3px 3px grey;
}
.deck-size-4 {
    box-shadow: 4px 4px grey;
}
.playcard {
    border-width: 1px;
    border-style: solid;
    position: absolute;
    font-size: 20pt;
    width:  1.5cm;
    height: 2cm;
}
.playcard:focus {
    box-shadow: 0px 0px 15px #00d1b2;
}
.front {
    border-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.back {
    width: 100%;
    height: 100%;
}
footer {
    position: absolute;
    bottom: 0em;
    width: 100%;
    text-align: center;
}
.hand {
    background-color: #00d1b2;
    padding: 0.5rem;
    height: 2.5cm;
}
.hand .playcard {
    position: relative;
    float: left;
}
